.header {
    display: flex;
    align-items: center; 
    padding: 20px 40px;
    background-color: #787878;
    background-image: 
        linear-gradient(rgba(108, 145, 108, 0.85), rgba(26, 29, 26, 0.85)), 
        url('https://www.transparenttextures.com/patterns/cracks.png');
    border-bottom: 5px solid #5a855a; 
    box-shadow: 0px 4px 15px rgba(119, 119, 119, 0.5);
}

.logo {
    flex-shrink: 0; 
    filter: brightness(0.9) grayscale(20%); 
    transition: filter 0.3s ease;
}

.logo:hover {
    filter: brightness(1) grayscale(0%);
}

.text {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        text-align: center;
        padding: 25px 20px;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 15px; 
    }

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem; 
    }
}