* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif,   Arial, Helvetica, sans-serif;
}

body {
  background-image: 
  linear-gradient(rgba(26, 29, 26, 0.8), rgba(26, 29, 26, 0.8)),
  url('https://www.transparenttextures.com/patterns/concrete-wall.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #e0e0e0;
}

a {
  color: #299129;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}